@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.our-system {
  margin-left: 25%;
  gap: 1.5rem;
}
.navbar-brand {
  max-width: 10%;
}
.logo-png {
  max-width: 100%;
}
.contact-item {
  list-style: none;
}
.contact-link {
  text-decoration: none;
  padding: 0.5rem 0.9rem;
  font-size: 0.7rem;
  background-color:#155674;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-family: montserrat, sans-serif;
  color: white;
}
.contact-link:hover {
  color: rgb(255, 252, 252);
  font-size: 0.7rem;
  border-bottom: 2px solid #ff9800 !important ;
}

.nav-link {
  color: black;
  font-size: 0.7rem;
  font-family: montserrat, sans-serif;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.nav-link.active {
  border-bottom: solid 3px #ff9800 !important ;
  color: rgb(0, 0, 0) !important;
  /* background-color: #ff9800; */
}
.nav-link:hover {
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  border-bottom: 2px solid #ff9800 !important ;
}
.dropdown-item {
  color: black;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
}

.drop-icon {
  font-size: 1.6rem;
  color: #464646be;
}

.carousel {
  background-color: #ff99006b;
  min-height: 100vh;
}

.img-slide {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

.img-slide .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: circle(0% at 0 50%);
  max-height: 100vh;
}
.img-slide .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
  transition-property: clip-path;
}
.img-slide .slide img {
  z-index: 1;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.img-slide .slide .info {
  z-index: 1;
  position: absolute;
  color: aliceblue;
  margin-left: 100px;
  top: 40%;
  width: 70%;
}

.img-slide .slide .info-content {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.219);
  width: 100%;
  min-height: 100vh;
}

.img-slide .slide .info .info-b {
  padding: 0.5rem 2rem;
  background-color: #ff5252;
  color: aliceblue;
  border: none;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  transition: all 0.55s ease;
}
.img-slide .slide .info .info-b:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.img-slide .slide .info .info-b-1 {
  padding: 0.5rem 2rem;
  background-color: #ff5252;
  color: aliceblue;
  border: none;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  transition: all 0.55s ease;
}
.img-slide .slide .info .info-b-1:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.img-slide .slide .info .info-b-0 {
  padding: 0.5rem 2rem;
  background-color: #ff5252;
  color: white;
  border: none;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  transition: all 0.55s ease;
}
.img-slide .slide .info .info-b-0:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.img-slide .slide .info h2 {
  font-family: "montserrat", "sans-serif";
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 5px;
  width: 80%;
}
.img-slide .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.img-slide .navigation .key {
  width: 15px;
  margin: 10px;
  height: 15px;
  background: rgba(255, 255, 255, 0.685);
  border-radius: 50%;
  cursor: pointer;
}
.img-slide .navigation .key.active {
  background: rgba(0, 0, 0, 0.253);
  box-shadow: rgba(0, 0, 0, 0.219);
} 
.about {
  width: 80%;
  margin: auto;
}
.about-intro {
  padding-top: 5rem;
  text-align: center;
}
.about-text {
  font-family: "monsterrat" "sans-serif";
  font-size: 4.5rem;
  color: #444444;
  font-weight: 700;
}
.best-text {
  font-family: "monsterrat" "sans-serif";
  font-size: 2rem;
  color: #444444;
  font-weight: 300;
  margin:5px 0;
  margin-top: 20px;
 
}
.best-item {
  font-family: "monsterrat" "sans-serif";
  font-size: 1rem; 
  margin-bottom: 40px;
  word-break: break-all;
}
.about-contents {
  display: flex;
  justify-content: center;
  margin-bottom:4rem;
}
.about-box-items {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.about-items-wrapper {
  margin: 1.5rem 0;
  width: 100vw;
}
.items-wrapper {
  display: flex;
  width: 50%;
}
.icon-circled {
  float: left;
  background-color: #ff5252;
  color: #fff;
  width: 50px;
  margin: auto;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  margin-bottom: 3.5rem;
  background-color: #ff9800;
  text-align: center;
}
.toy {
  line-height: 50px;
  font-size: 1.2rem;
  display: inline-block;
}

.text-title {
  font-family: "monsterrat" "sans-serif";
  font-size: 1.5rem;
  color: #444444;
  font-weight: 400;
}
.main-text {
  font-family: "montserrat";
  font-size: 0.9rem;

}
.about-items-wrapper {
  max-width: 100%;
}
.about-image-wrapper {
  max-width: 20%;
}
.about-pic {
  max-width: 80%;
}
section.our-card {
  max-width: 100vw;
  margin: auto;
  justify-content: center;
  margin-bottom: 5rem;
}
.preschool{
  border: solid  #ff5252 2px;
}
.primary{
 border: solid #155674 2px;
}
.junior{
border: solid  #ff9800 2px;
}
.card-link,
.card-link-p,
.card-link-j {
border: 2px solid #155674 ;
padding: 5px 30px;
text-transform: uppercase ;
font-weight: 500; 
text-decoration: none ;
letter-spacing: 2px;
color: #155674;
 transition: all 0.5s ease;
}
.card-link:hover{
background-color: #ff5252;
border: solid 2px  #ff5252;
  color: #ffffff;

}
.card-link-p:hover{
  background-color: #155674;
  color: #ffffff;
}
.card-link-j:hover{
   background-color: #ff9800;
  border: solid 2px  #ff9800;
  color: #ffffff;
}
.our-mission {
  max-width: 100%;
  background-image: url(/images/patterns\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
}

.mission-inner {
  display: flex;
  max-width: 80vw;
  margin: auto;
  margin-top:3rem;
  margin-bottom:3rem;

}
.mission-1 {
  max-width: 25vw;
  padding: 1rem;
}
.title-box {
  font-family: "montserrat", "sans-serif";
  text-align: center;
}
.mission-title {
  font-size: 4.5rem;
  font-family: "monsterrat" "sans-serif";
  color: #444444;
  padding-top: 2rem;
}
.neat {
  color: #ff9800;
}

.mission-text {
  font-family: "monsterrat" "sans-serif";
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
}
.mission-complete {
  font-size: 1.4rem;
  font-family: "montserrat", sans-serif;
  text-decoration: underline 2px solid;
}

.mission-2 {
  max-width: 25vw;
  padding-top: 100px;
}
.bi-1 {
  width: 80%;
  padding: 0;
  font-size: 2.8rem;
  color: #ff5252;
}
.mission-join {
  padding: 1rem;
  font-family: "monsterrat" "sans-serif";
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
}
.mission-image {
  padding-top: 10px;
  max-width: 50vw;
}
.mission-pic {
  object-fit: cover;
  padding: 20px;
  border-radius: 50px;
}
.counter {
  padding: 1rem 0;
  background-color: rgb(255, 255, 255);
}
.inner-counter {
  margin: auto;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}
.established-count,
.students-count,
.trophies-count,
.other-count {
  width: 100vw;
  text-align: center;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.623);
  border-radius: 10px;
  padding: 0.5rem;
}
.year,
.population,
.amount,
.others {
  font-size: 4rem;
  font-family: "monsterrat" "sans-serif";
  margin: 0 !important ;
  color: rgba(43, 43, 43, 0.829);
}
hr {
  width: 20%;
  border: solid #000000 2px;
  margin: auto;
}
.established-text,
.student-text,
.trophy-text,
.other-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #5e5e5eda;
  font-family: "montserrat" "sans-serif";
}

.gallary {
  background-image: url(/images/patterns\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inside-gallary {
  max-width: 92vw;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5rem 0;
}
.gala-title {
  font-family: "monsterrat" "sans-serif";
  font-size: 4.5rem;
  color: #444444;
  font-weight: 700;
}
.parent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5rem;
  max-width: 60vw;
}
.child {
  -ms-flex: 10%;
  flex: 5%;
  padding: 0 0.2rem;
 
}
.gallary-pics:hover{
  transform: translateX(0%) scale(1.03);
/* transform:translateY(10%);*/
transition: all 0.3s; 
}
.child .gallary-pics {
  margin-top: 0.4rem;
  vertical-align: middle;
}

.gallary-info {
  padding: 1rem;
}

.gallary-text {
  font-family: "montserrat";
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
}

.testimonials {
  padding-top: 20px;
  background-color: #ffffff;
}
.testimonial-text {
  font-family: "monsterrat" "sans-serif";
  font-size: 4.5rem;
  color: #ff9800;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}
.testimonial-box {
  max-width: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 45vh;
}
.inner-box .testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-box .inner-box {
  background-color: rgb(235, 235, 235);
  width: 70%;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
  margin-top: 10px;
  height: 40vh;
}
.wrapper .inner-box:last-child {
  animation-delay: calc(-5s * var(--delay));
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateX(100%) scale(0.5);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7);
  }
  85%,
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.5);
  }
}
.testimonial-box .inner-box .testimonial-image {
  height: 13vh;
  width: 20%;
  left: -5px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.inner-box .testimonial-details {
  margin-left: 150px;
  text-align: center;
  margin: auto;
  width: 70%;
}
.inner-box .testimonial-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-details .owner {
  font-family: "monsterrat" "sans-serif";
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(81, 81, 81) !important;
}

.testimonial-details .owner-text {
  width: 100%;
  font-family: "montserrat";
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #696969;
}

.footer-wrapper {
  background-image: url(/images/patterns\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
}
.footer-overlay {
  /* background-color: #ff9800; */
  background: #155674;
}
.inside-footer {
  display: flex;
  justify-content: center;
}
.footer-in-check {
  max-width: 70vw;
  margin: auto;
  color: white;
}
.inside-footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.footer-part-1 {
  width: 30%;
  padding: 0 10px;
  margin-top: 5px;
}
.footer-title {
  font-family: "montserrat";
  font-size: 1rem;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5em;
  margin-bottom: 20px;
  position: relative;
}
.footer-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-items {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
}
.footer-text {
  font-weight: 200;
  font-family: "montserrat";
}
.footer-links {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 1.3rem;
  transition: all 0.5s ease;
}
.footer-links:hover {
  color: #24262b;
  background-color: #ffffff;
}
.footer-main {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-family: "montserrat", sans-serif;
}
.footer-main:hover {
  color: #24262b;
}
.footer-image {
  max-width: 70%;
}
.sch-motto {
  letter-spacing: 2px;
  font-weight: 100;
}

/* media quaries */
@media screen and (max-width: 87.5rem) {
  .img-slide {
    width: 100%;
    max-height:100vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height:100vh;
  }
  .img-slide .slide img {
    width: 100%;
    min-height:100vh;
  }
  .img-slide .slide .info-content {
   min-height:100vh;
  }

}

@media screen and (max-width: 75rem) {
  .testimonial-box .inner-box .testimonial-image {
    width: 25%;
  }
}
@media screen and (max-width: 71.875rem) {
  .img-slide {
    max-width: 100%;
    max-height:90vh;
  }

  .img-slide .slide {
    max-width: 100%;
    max-height:90vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    max-height:90vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    max-height:90vh;
  }
  .about {
    min-width: 90%;
  }
  .mission-inner {
    max-width: 92vw;
  }
  .mission-1 {
    padding: 0.2rem;
    margin-left: 1.5rem;
  }
  .mission-text {
    font-size: 1rem;
  }
  .mission-2 {
    padding-top: 3rem;
  }
  .mission-join {
    font-size: 1rem;
  }
  .gallary {
    width: 100%;
  }
  .inside-gallary {
    min-width: 90vw;
    gap: 0;
    padding: 3rem 0;
  }
  .parent {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 67.188rem) {
  .carousel {
    background-color: #ff99006b;
    min-height: 90vh;
  }
  .img-slide {
    width: 100%;
    min-height:90vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height:90vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height:90vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    min-height:90vh;
  }
  .img-slide .slide .info h2 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: 5px;
    width: 100%;
  }
  .img-slide .slide .info {
    top: 34%;
  }
  .about-text{
    font-size: 4rem;
  }
  .mission-title{
    font-size: 4rem;
  }
  .gala-title{
    font-size: 4rem;
  }
  .testimonial-text{
    font-size: 4rem;
  }
}
@media screen and (max-width: 64.063rem) {
  .about {
    width: 95vw;
  }
  .navbar-brand {
    width: 30%;
  }
  .img-slide .slide .info {
    top: 39%;
    margin-left: 4rem;
    width: 90%;
  }

  .img-slide .slide .info h2 {
    font-size: 3.5rem;
    line-height: 3.6rem;
    font-weight: 900;
    width: 70%;
  }
  .img-slide .slide .info {
    width: 60%;
  }
  .about-text{
    font-size: 3.5rem;
  }
  .mission-title{
    font-size: 3.5rem;
  }
  .gala-title{
    font-size: 3.5rem;
  }
  .testimonial-text{
    font-size: 3.5rem;
  }
  .best-text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about-intro{
    padding-top: 2.8rem;
  }
  .text-title {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .mission-title {
    font-size: 3.9rem;
  }
  .mission-inner {
    max-width: 95vw;
  }
  .mission-1 {
    margin-left: 0;
  }
  .inner-counter {
    min-width: 95vw;
  }
  .established-text,
  .student-text,
  .trophy-text,
  .other-text {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .inside-gallary {
    min-width: 95vw;
    gap: 2rem;
  }
  .parent {
    padding: 0;
  }
  .gala-title {
    font-size: 3.9rem;
  }
  .footer-in-check {
    width: 80%;
  }
  .footer-part-1 {
    width: 33%;
  }
}

@media screen and (max-width: 74.688rem) {
  .navbar-brand {
    width: 25%;
  }
  .our-system {
    margin-left: 15%;
  }
  .img-slide .slide .info h2 {
    width: 100%;
  }
  .img-slide .slide .info .info-b-1 {
    padding: 8px 15px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .img-slide .slide .info .info-b {
    padding: 8px 15px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 8px 15px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .inner-counter {
    width: 90%;
  }
  .year,
  .population,
  .amount,
  .others {
    font-size: 3rem;
  }

  .testimonials {
    padding-top: 20px;
    width: 100%;
    background-color: #e5e5e5;
  }

  .testimonial-box .inner-box {
    background-color: rgb(255, 255, 255);
    width: 75%;
  }

  .testimonial-box .inner-box .testimonial-image {
    height: 100px;
    width: 25%;
    margin: 8px 0;
  }
  .inner-box .testimonial-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .inner-box .testimonial-details {
    margin-left: 150px;
    margin: auto;
    width: 80%;
  }
  .testimonial-details .owner {
    font-weight: 700;
    color: #1d4e89;
    font-size: 1.1rem;
  }
  .testimonial-details .owner-text {
    font-size: 0.9rem;
  }
  .footer-in-check {
    width: 80%;
  }
  .footer-part-1 {
    width: 33%;
  }
}

@media screen and (max-width: 62.5rem) {
  .our-system {
    margin-left: 17%;
  }
  .about {
    width: 95%;
    margin: auto;
  }
  .about-intro {
    width: 97%;
    margin: auto;
  }

  .about-contents {
    margin-top: 0;
    width: 97%;
    margin: auto;
  }

  .about-pic {
    width: 100%;
  }
  .about-image-wrapper {
    align-items: center;
    margin-top: 40px;
  }
  .img-slide .slide .info {
    width: 80%;
  }
  .img-slide .slide .info h2 {
    width: 80%;
  }
  .inside-gallary {
    width: 90%;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 100px;
    width: 30%;
  }
}
@media screen and (max-width: 54.688rem) {
  .img-slide {
    width: 100%;
    min-height: 90vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 90vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 90vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    min-height: 90vh;
  }
  .colors {
    max-width: 100vw;
    padding: 0;
  }
  .about {
    margin: auto;
  }
  .about-intro {
    padding-top: 2.5rem;
  }
  .mission-title {
    font-size: 3.4rem;
  }
  .about-text {
    font-size: 3.4rem;
  }
  .gala-title {
    font-size: 3.4rem;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 85px;
  }
  .footer-part-1 {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 48.75rem) {
  .carousel {
    min-height: 80vh;
  }
  .img-slide {
    width: 100%;
    min-height: 80vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 80vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 80vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    min-height: 80vh;
  }
  .navbar {
    background-color: #ff5252;
    width: 100%;
  }
  .our-system {
    margin-left: 25%;
    gap: 15px;
  }
  .navbar-brand {
    max-width: 25%;
  }
  .logo-png {
    width: 100%;
  }

  .img-slide .navigation .key {
    width: 10px;
    height: 10px;
  }
  .img-slide .slide .info h2 {
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    line-height: 3rem;
  }
  .img-slide .slide .info {
    margin-left: 3rem;
    top: 42%;
    width: 75%;
  }
  .about {
    width: 90%;
  }
  .about-intro {
    width: 100%;
    padding-top: 3rem;
  }
  .about-text {
    font-size: 2.8rem;
    text-align: left;
  }
  .best-text,
  .best-item {
    text-align: center;
    font-family: montserrat;
  }
  .best-item {
    font-size: 0.9rem;
  }
  .main-text {
    font-size: 0.9rem;
  }
  .about-contents {
    width: 100%;
    flex-direction: column;
  }
  .about-box-items {
    width: 100%;
  }
  .about-image-wrapper {
    max-width: 50%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .about-pic {
    width: 100%;
  }
  .our-card {
    max-width: 100vw;
   
  }
  .title-box {
    max-width: 90vw;
    margin: auto;
    padding-top: 1.8rem;
  }
  .mission-title {
    font-size: 2.8rem;
    text-align: left;
  }
  .mission-inner {
    flex-direction: column;
    padding: 18px;
    max-width: 90vw;
    padding: 0;
  }
  .mission-1,
  .mission-2 {
    max-width: 100%;
    margin: auto;
  }
  .mission-2 {
    padding: 0;
  }
  .mission-join {
    padding: 0;
  }
  .mission-image {
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
  }
  .mission-pic {
    width: 100%;
    border-radius: 20px;
    padding: 0;
  }
  .counter {
    width: 100%;
    padding:2rem 0;
  }
  .inner-counter {
    width: 100%;
  }
  .established-count,
  .students-count,
  .trophies-count,
  .other-count {
    width: 40%;
  }
  .year,
  .population,
  .amount,
  .others {
    font-size: 2.3rem;
  }
  .established-text,
  .student-text,
  .trophy-text,
  .other-text {
    font-size: 0.9rem;
  }

  .gallary-info {
    width: 100%;
  }
  .inside-gallary {
    padding: 0;
    flex-direction: column-reverse;
  }
  .parent {
    max-width: 100vw;
    padding: 0 0.625rem;
    margin-bottom: 2rem;
  }
  .gala-title {
    font-size: 2.8rem;
  }
  .gallary-text {
    font-size: 0.9rem;
  }
  .testimonial-box .inner-box .testimonial-image {
    width: 35%;
  }
  .footer-part-1 {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 38.75rem) {
  .carousel {
    min-height: 80vh;
  }
  .img-slide {
    width: 100%;
    min-height: 80vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 80vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 80vh;
  }
  .img-slide .slide .info-content {
    min-height: 80vh;
  }

  .img-slide .slide .info {
    margin-left: 30px;
    top: 35%;
    width: 80%;
  }
  .img-slide .slide .info .info-b {
    padding: 5px 18px;
    font-size: 1.3rem;
  }

  .img-slide .slide .info .info-b-1 {
    padding: 5px 18px;
    font-size: 1.3rem;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 5px 18px;
    font-size: 1.3rem;
  }

  .img-slide .slide .info h2 {
    font-size: 2.8rem;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    width: 100%;
  }

  .colors {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .about {
    width: 95%;
    margin-bottom: 0 !important;
  }
  .about-text {
    font-size: 2rem;
  }
  .best-text {
    font-size: 1.3rem;
  }
  .about-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .items-wrapper {
    width: 90%;
  }
  .product-wrap{
    margin-bottom: 2rem;
  }
  .contents {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .icon-circled {
    margin: auto;
  }
  .text-title {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  .about-image-wrapper {
    width: 50%;
  }
  .testimonial-box .inner-box .testimonial-image {
    width: 40%;
  }
  .testimonial-box .inner-box {
    width: 90%;
    height: 40vh;
    background-color: #ffffff;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 80px;
    width: 30%;
  }
  .testimonials {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 25px;
  }
  .testimonial-text {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: #ff9800;
  }
  .testimonial-details .owner-text {
    font-size: 0.9rem;
    color: #696969;
    width: 100%;
  }
  .testimonial-box {
    width: 50%;
  
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    5%,
    20% {
      opacity: 0.4;
      transform: translateX(100%) scale(0);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%) scale(1.2);
    }
    45%,
    60% {
      opacity: 0.4;
      transform: translateX(-100%) scale(0);
    }
    75%,
    100% {
      opacity: 0;
    }
  }
  .footer-part-1 {
  margin-bottom: 30px;
  }
}
@media screen and (max-width: 36rem) {
  .img-slide .slide .info h2 {
    font-size: 2.2rem;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 4px;
    width: 85%;
  }
  .img-slide .slide .info .info-b {
    padding: 4px 14px;
    font-size: 1.2rem;
  }

  .img-slide .slide .info .info-b-1 {
    padding: 4px 14px;
    font-size: 1.2rem;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 4px 14px;
    font-size: 1.2rem;
  }
  .about {
    max-width: 90%;
  }
  .about-intro {
    padding-top: 3.5rem;
  }
  .about-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .product-cover {
    flex-direction: column;
    gap: 4rem;
  }
  .title-box{
    padding-top: 0;
  }
  .mission-title{
    font-size: 2.2rem;
    font-weight: 700;
  }
  .inner-counter{
    padding-top: 1.4rem;
    min-width: 90%;
    flex-direction: column;
  }
  .established-count,
  .students-count,
  .trophies-count,
  .other-count {
    width: 100%;
  }
  .established-text,
  .student-text,
  .trophy-text,
  .other-text {
    font-size: 1rem;
  }
  .year,
  .population,
  .amount,
  .others {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .gala-title{
    font-size: 2.2rem;
    font-weight: 700;
  }
  .testimonial-box .inner-box {
    width: 100%;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 90px;
    width: 35%;
  }
  .testimonials {
    padding-top: 20px;
    width: 100%;
  }
  .testimonial-text {
    font-size: 2.2rem;
  }
  .testimonial-box {
    width: 60%;
  }
  .testimonial-details .owner {
    font-size: 0.9rem;
  }
  .testimonial-details .owner-text {
    font-size: 0.75rem;
    color: #696969;
    width: 100%;
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    5%,
    20% {
      opacity: 0.1;
      transform: translateX(40%) scale(0);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%) scale(1.2);
    }
    45%,
    60% {
      opacity: 0.1;
      transform: translateX(-40%) scale(0);
    }
    65%,
    100% {
      opacity: 0;
    }
  }
  .footer-part-1 {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-title::before {
    left: 35%;
    width: 100px;
  }
}
@media screen and (max-width: 34.313rem) {
  .carousel {
    min-height: 70vh;
  }
  .img-slide {
    width: 100%;
   min-height: 70vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 70vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 70vh;
  }
  .img-slide .slide .info-content {
    min-height: 70vh;
  }
  .img-slide .slide .info h2 {
    font-size: 1.7rem;
    line-height: 30px;
    font-weight: 800;
    letter-spacing: 4px;
    width: 80%;
  }
  .img-slide .slide .info {
    top: 38%;
  }
  .img-slide .slide .info .info-b {
    padding: 3px 12px;
    font-size: 1rem;
  }
  .img-slide .slide .info .info-b-1 {
    padding: 3px 12px;
    font-size: 1rem;
    margin-top: 0;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 3px 12px;
    font-size: 1rem;
  }
  .product-cover{
    gap: 2rem;
    padding: 1rem 0;
  }
  .about-intro{
  padding-top: 3.5rem;
  }
  .about-text{
    font-size: 1.7rem;
  }
  .best-text{
    font-size: 1.1rem; 
    font-weight: 700;
  }
   .inner-counter{
  padding-top: 0;
}
}
@media screen and (max-width: 27.375rem){
  .carousel {
  min-height: 60vh;
  }
  .img-slide {
   min-height: 60vh;
  }
  .img-slide .slide {
    min-height: 60vh;
  }
  .img-slide .slide img {
    min-height: 60vh;
  }
  .img-slide .slide .info-content {
    min-height: 60vh;
}
.img-slide .slide .info h2 {
  font-size: 2rem;
  line-height:40px;
  font-weight: 800;
  letter-spacing: 4px;
  width: 100%;
}
.img-slide .slide .info {
  top: 38%;
  margin-left: 15px;
  width: 90%;
}
.about{
  min-width: 94vw;
}
.about-intro{
  padding-top: 2rem;
}
.items-wrapper{
  min-width: 100%;
}
.contents{
  min-width: 100%;
}
.about-image-wrapper {
  min-width: 70%;
}
.about-pic {
  min-width: 100%;
}
.about-text{
  font-weight: 500;
  letter-spacing: 0px;
  font-size: 1.7rem;
}
.neat{
  font-weight:600;
  font-size: 1.7rem;
}
.best-text{
  font-weight: 600;
  letter-spacing: 0px;
  text-align:left;
  margin-top: 0.8rem;
}
.best-item{
  font-size:1rem;
  text-align: left;
}
.product-cover{
  gap: 0.5rem;
  padding: 1rem 0;
}
.gala-title,.mission-title,.testimonial-text{
  font-size: 1.7rem;
} 
.mission-inner{
  margin-top: 1rem;
}

.testimonial-text {
  font-size: 1.5rem;
}
.testimonial-box {
  min-width: 70vw;
  margin: auto;
  min-height: 45vh;
}
.testimonial-box .inner-box {
  background-color: rgb(255, 253, 253);
  width: 100%;
  padding: 10px;
  bottom: 20px;
  height: 40vh;
}
.testimonial-box .inner-box .testimonial-image { 
  height: 15dvh;
  width: 40%;
  border-radius: 50%;
}
.inner-box .testimonial-details {
  width: 90%;
}
.testimonial-details .owner {
  font-size: 1.2rem;
}









}
@media screen and (max-width: 23.75rem){
.img-slide .slide .info h2 {
font-size: 1.5rem;
line-height: normal;
letter-spacing: 3px;
width: 100%;
}
.img-slide .slide .info {
  top:40%;
  margin-left: 10px;
  width: 90%;
}
.about{
  min-width: 96%;
}
.about-intro{
  padding-top: 1.5rem;
}
.about-text{
  font-weight: 200;
  font-size: 1.5rem;
}
.neat{
  font-weight: 500;
  font-size: 2rem ;
}
.best-text{
  font-size: 1rem;
  font-weight: 600;
}
}
@media screen and (max-width:23.438rem){
  .img-slide .slide .info h2 {
    font-size: 1.5rem;
    line-height: normal;
    }
    .about-intro{
      width: 95%;
    }
    .about-text{
    font-size: 1.3rem;
    font-weight: bold;
    }
    .neat{
      font-size: 1.5rem;
      font-weight: bold;
    }
    .best-text{
     text-align: left; 
     margin-top: 0;
    
    }
    .best-item{
      text-align: left;
      margin-bottom: 20px;
      font-size:1rem;
    }
    .mission-inner{
      margin-top:1rem;
    }
    .mission-title{
      font-size: 1.5rem;
    }
    .testimonial-box {
      min-width: 80vw;
      margin: auto;
      min-height: 60vh;
    }
    .testimonial-box .inner-box {
      background-color: rgb(235, 235, 235);
      width: 100%;
      padding: 10px;
      bottom: 20px;
      height: 60vh;
    }
    .testimonial-box .inner-box .testimonial-image { 
      height: 15dvh;
      width: 30%;
      border-radius: 50%;
    }
    .inner-box .testimonial-details {
      width: 90%;
    }
    .testimonial-details .owner {
      font-size: 1.2rem;
    }
  .testimonial-box {
    width: 60%;
  }
  .testimonial-details .owner {
    font-size: 0.9rem;
  }
  .testimonial-details .owner-text {
    color: #696969;
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    5%,
    20% {
      opacity: 0;
      transform: translateX(0%) scale(0);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%) scale(1.0);
    }
    45%,
    60% {
      opacity: 0;
      transform: translateX(0%) scale(0);
    }
    65%,
    100% {
      opacity: 0;
    }
  } 
}
@media screen and (max-width:22.813rem){
  .child{
    padding: 1.8px;
  }
  .child .gallary-pics {
    margin-top:3.5px;
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    5%,
    20% {
      opacity: 0;
      transform: translateX(0%) scale(0);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%) scale(1.15);
    }
    45%,
    60% {
      opacity: 0;
      transform: translateX(0%) scale(0);
    }
    65%,
    100% {
      opacity: 0;
    }
  } 
  .testimonial-box .inner-box {
    width: 100%;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 80px;
  }
  .testimonials {
    padding-top: 20px;
    width: 100%;
  }
  .testimonial-text {
    font-size: 2rem;
  }
}
@media screen and (max-width:20.75rem){
.about-text{
  font-size: 1.4rem;
  font-weight: 300;
}
.neat{
  font-weight: 300;
}
@keyframes animate {
  0% {
    opacity: 0;
  }
  5%,
  20% {
    opacity: 0;
    transform: translateX(0%) scale(0);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1.0);
  }
  45%,
  60% {
    opacity: 0;
    transform: translateX(0%) scale(0);
  }
  65%,
  100% {
    opacity: 0;
  }
} 
}
/* smaller mobile screens 320px */
@media screen and (max-width:320px){
  .img-slide .slide .info h2 {
  font-size: 1.5rem;
  line-height: normal;
  }
  .about-intro{
    width: 95%;
  }
  .about-text{
  font-size: 1.3rem;
  font-weight: bold;
  }
  .neat{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .best-text{
   text-align: left; 
   margin-top: 0;
  }
  .best-item{
    text-align: left;
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
  .mission-inner{
    margin-top:1rem;
  }
  .mission-title{
    font-size: 1.5rem;
  }
  .gala-title{
    font-size: 1.5rem;
  }
  .testimonial-text {
    font-size: 1.5rem;
  }
  .testimonial-box {
    min-width: 90vw;
    margin: auto;
    min-height: 60vh;
  }
  .testimonial-box .inner-box {
    background-color: rgb(255, 253, 253);
    width: 100%;
    padding: 10px;
    bottom: 20px;
    height: 60vh;
  }
  .testimonial-box .inner-box .testimonial-image { 
    height: 15dvh;
    width: 30%;
    border-radius: 50%;
  }
  .inner-box .testimonial-details {
    width: 90%;
  }
  .testimonial-details .owner {
    font-size: 1.2rem;
  }
}
/* contact-page styles */
.contact-section{
  background-image: url(/images/IMG_0157.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 60vh;
 
}
.contact-section-inner{
min-height: 60vh;
background-color: #00345cb3;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-attachment: fixed;
}
.contact-title{
  padding-top: 6rem;
  font-family: "montserrat", "sans-serif";
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  color: white;
}
.clean{
  color:#ff9800;
}
.contact-text{
  text-align: center;
  font-weight:100;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}
.contact-key{
  font-size: 2rem !important;
  color: white ;
  position: absolute;
  top:55% !important;
  animation-name: bounce;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
/* for bouncing key */
@keyframes bounce {
  0%, 25%, 50%, 80%, 100% {  
     transform:translateY(0);
}
40%{  
  transform:translateY(5px);
}
60%{  
  transform:translateY(4px);
}
}
.contact-body{
  padding: 5rem;
}
.contact-body-inner{
  width: 80vw;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: auto;
}
.contact-detail-box{
  width: 50% ;
  background-color:#155674;
  padding: 3rem;
}
.contact-info-title{
  font-family: "montserrat";
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5em;
  margin-bottom: 10px;
  position: relative;
}
.contact-info-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 30px;
}
.contact-items {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
}
.contact-info-text {
  font-weight: 500;
  font-family: "montserrat";
  color:white ;
}
.contact-form-box{
  width: 50% ;
}
.form-title{
  font-family: "montserrat";
  font-size: 1.7rem;
  color:#444444;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.5em;
  margin-bottom: 5px;
  position: relative;
}
.form-info-text{
  font-weight: 500;
  font-family: "montserrat";
  color:#444444;
  font-size:0.9rem;
}
.field{
  width:100%;
  padding:0.5rem 1rem;
  outline:none;
  border: 1px solid #155674;
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 0.8rem;
  margin-bottom: 1.3rem;
  transition: .3s;
  border-radius:5px;
  font-weight: 200;
  font-family: "montserrat";
}
.form-button{
  border: none;
  padding:0.6rem 3.5rem;
  background-color: #155674;
  color: #e5e5e5;
  border-radius: 20px;
  opacity: 1;
  transition: 0.5s;
}
.form-button:hover{
  border: 2px solid #155674;
  background-color:white;
  color: #155674;
}
.frequently-asked-questions{
  max-width: 80%;
  display:flex;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.frequent{
padding-right: 5rem;
font-weight: 500;
max-width:50% ;
}
.frequent-title{
  font-size: 1.4rem;
  letter-spacing: 5px;
  font-weight: 700;
  color:#444444;

}
.frequent-text{
font-size: 2.5rem;
font-weight: 700;
letter-spacing: 3px;
color:#444444;
}
.frequent-key{
padding: 8px 20px;
border-radius: 20px;
font-size: 1.2rem;
font-weight: 700;
background-color: transparent;
color:#1d4e89;
border: 2px solid #155674;
margin-top: 3rem;
opacity: 0.8;
transition: 0.9s;
}
.frequent-key:hover{
  background-color: #155674;
  color: white;
  opacity: 1;
}

.accordion{
max-width:50%;
flex-grow: 2; 
}
.accordion-item{
  margin-top: 20px;
}
.intro-accord{
border: 2px solid #155674;
padding:1.5rem 1.5rem 0 1.5rem; 
color: #155674; 
border-radius: 50px;
}
.intro-accord-title{
  font-size:1.3rem;
font-weight: 700;
}
.intro-accord-text{
  font-weight: 200;
}
.accordion-header{
  background-color: #155674;
  font-weight: 700;

}
.accordion-button{
  background-color: #155674;
  font-size:1rem;
  color: white; 
  font-weight: 700;
 
}
.accordion-body{
color: #155674; 
font-weight: 200;
}

/* media quaries and screen adjustments */
@media screen and (max-width:78.125rem){
  .contact-section{
    min-height: 50vh !important;
  }  
  .contact-section-inner{
    min-height: 50vh !important;
  }
  .contact-key{
    font-size: 2rem;
    top:45% !important ;
  }
}
@media screen and (max-width:71.875rem){
  .contact-section{
    min-height: 50vh !important;
  }  
  .contact-section-inner{
    min-height: 50vh !important;
  }
}

@media screen and (max-width:65rem){
  .contact-section{
    min-height: 46vh !important;
  }
  .contact-section-inner{
    min-height: 46vh !important;
  }
  .contact-key{
    font-size: 2rem;
    top:40% !important;
  }
.contact-title{
  font-size:2.8rem;
  padding-top: 4rem;
}
.contact-text{
  font-size: 1rem;
}
.contact-body{
  padding: 8rem 0;
}
}
@media screen and (max-width:58.75rem){
  .contact-section{
    background-image: url(/images/compound.JPG) !important;
    min-height: 50vh !important;
  }
  .contact-section-inner{
  min-height: 50vh !important;
  }
  .contact-title{
    font-size:3rem;
    padding-top: 5rem;
  }
  .contact-text{
    font-size:1rem;
  }
  .contact-key{
    top:45% !important;
  }
  .contact-body{
    padding: 8rem 0;
  }
  }





  @media screen and (max-width:48.75rem){
    .contact-body-inner{
    width:80%;
    display: flex;
    flex-direction: column;
  }
  .contact-detail-box{
  margin-top:5rem;
  width: 100%;
  background-color:#ff9800;
  }
  .contact-body{
    padding: 0rem;
  }
  .contact-form-box{
  width: 100%;
  margin-bottom:3rem;
  }
  .contact-section{
    background-size: 100%;
    min-height: 48vh;
  }
  .contact-section-inner{
  min-height: 48vh;
  }
  .contact-title{
    padding-top: 4rem;
  }
  .frequently-asked-questions{
    flex-direction: column;
  }
  .frequent{
    max-width:100% ;
    padding: 0;
  }
  p.frequent-text{
  font-size:2.5rem;
  font-weight: 700;
  }
  .frequent-key{
   margin-top: 1.5rem;
  }
  .accordion{
    max-width:100% ;
    margin-top: 3rem;
  }
  }
  @media screen and (max-width:46.875rem){
    .contact-title{
      font-size: 3rem;
      padding-top: 4rem;
    }
    .contact-section{
      min-height: 50vh
    }
    .contact-section-inner{
    min-height: 50vh;
    } 
    .contact-key{
      top:45% !important;
    }
    .contact-text{
      font-size: 1rem;
    }
    p.frequent-text{
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width:43.75rem){
  .contact-title{
    padding-top:5rem;
    font-weight: 800;
  }
  }
  @media screen and (max-width:38.75rem){
    .contact-section{
      background-image: url(/images/compound\ 2\ 1.jpg) !important;
      min-height: 46vh !important;
    }
    .contact-section-inner{
    min-height: 46vh !important;
    } 
    .contact-key{
      top:40% !important ;
  }
}
  @media screen and (max-width:35.625rem){
    .contact-section{
      min-height: 40vh !important; 
    }
    .contact-section-inner{
    min-height: 40vh !important;
  }
  .contact-key{
    top:35% !important; 
  }
  .contact-title{
    padding-top:2.8rem;
    font-weight: 600;
  }
  }

  @media screen and (max-width:34.375rem ){
    .contact-section{
      background-image: url(/images/compound.JPG) !important;
      min-height: 50vh !important;
    }
    .contact-section-inner{
    min-height: 50vh !important;
  }
  .contact-title{
    padding-top:4rem;
    font-size: 2.3rem;
    }
    .contact-text{
    font-size: 0.9rem;
    }
    .contact-info-title{
      font-family: "montserrat";
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
    .contact-info-text {
      font-size: 0.9rem;
      font-weight: 200;
      font-family: "montserrat";
      color: white;
    }
    .contact-section{
      min-height: 30vh;
    }
    .contact-section-inner{
    min-height: 30vh;
    } 
    .contact-key{
      top:45% !important ;
    }
  }
/* media quaries and screen adjustments for frequently asked questions section*/
@media screen and (max-width:990px){
.frequent-text{
  font-size: 2rem;
}
}
   /* For Tablet Portrait View (530 px) */
   @media screen and (max-width:33.125rem) {
    .contact-section{
     
      min-height: 45vh !important;
    }
    .contact-section-inner{
    min-height: 45vh !important;
  }
  .contact-key{
    top: 39% !important;
  }
   }
  /* For Mobile Portrait View (480 px) */
  @media screen and (max-width:30rem)  and (orientation: portrait) {
    .contact-section{
      background-image: url(/images/compound.JPG) !important;
      min-height: 40vh !important;
    }
    .contact-section-inner{
    min-height: 40vh !important;
  }
  .contact-title{
    padding-top:4.5rem;
    font-size: 1.731rem;
  }
  .contact-key{
  font-size: 1.3rem !important ;
    top:41% !important ;
  }
  .contact-text{
    font-size:0.75rem;
  }
  .contact-detail-box{
    margin-top:3.5rem;
  }
  .contact-body-inner{
    min-width:90vw;
  }
  .frequently-asked-questions{
    max-width: 90%;
  }
  .frequent-key
  {
    font-size:1rem;
    font-weight:700;
  }
  }
   /* For Mobile Portrait View (462px) */
  @media screen and (max-width:28.875rem ){
    .contact-section{
      background-image: url(/images/compound.JPG) !important;
      min-height: 40vh !important;
    }
    .contact-section-inner{
    min-height: 40vh !important;
  }
  .contact-key{
    top:36% !important;
  }
  }
  /* For Mobile Portrait View (460px) */
  @media screen and (max-width:28.75rem){
  .contact-section{
  min-height: 40vh !important;
  }
  .contact-section-inner{
   min-height: 40vh !important;
  } 
  .contact-text{
    padding: 0 2rem;
    font-size:0.75rem;
  }
  .contact-key{
    top:31% !important;
  }
  .contact-title{
    padding-top:2.5rem;
    font-size: 1.5rem;
  }
  }
    /* For Mobile Portrait View (425px) */
  @media screen and (max-width:26.563rem){
    .contact-section{
      background-image: url(/images/compound.JPG) ;
      min-height: 35vh !important;
    }
    .contact-section-inner{
    min-height: 35vh !important;
  }
  .contact-title{
    padding-top: 4rem;
  }
  .contact-key{
    font-size: 2rem;
    top:28%;
  }
  }
   /* For Mobile Portrait View (390 px) */
  @media screen and (max-width:24.375rem){
  .contact-section{
    background-image: url(/images/fc7b2b79-516d-482b-afbd-d68ed67ac7c9\ 1.jpg) !important ;
    min-height: 60vh !important;
  } 
  .contact-section-inner{
    min-height:60vh !important;
    background-color: #00345cd7;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-attachment: fixed;
  }
  .contact-text{
      font-size:0.8rem;
    }
    .contact-key{
      font-size: 2rem;
      top: 53% !important;
   }

  }
  @media screen and (max-width:23.438rem){
  .contact-text{
    letter-spacing: 2px;
  }
  }
  /* styles for the about section */
  .about-section{
    background-image: url(/images/bless-about.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
   
  }
  .about-section-inner{
  min-height: 70vh;
  background-color: #0732538f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  }
  .about-title{
    padding-top: 6rem;
    font-family: "montserrat", "sans-serif";
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
  }
  /* .enroll-key{
   padding: 1rem 2.2rem;
   color: white ;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 2px;
   background-color: transparent;
   border: 1px solid white ;
   text-transform: uppercase;
  } */
  .clean{
    color:#ff9800;
  }
  .about-us-text{
    text-align: center;
    font-weight:200;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-family: "montserrat", "sans-serif";
  }
  .about-us-button{
    font-size: 3rem;
    color: white ;
    position: absolute;
    top:60%;
    animation-name: bounce;
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .about-first-page{
    padding:4rem;
    width:90%;
    margin:auto;
  }
  .top-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding-top: 6rem;
  }
  .mission-about-box{
    width: 50%;
  }
  .mission-about-title{
    color: #444444;
    font-size: 4rem;
    font-family: "montserrat", "sans-serif";
  }
  .mission-about-text{
    font-size: 1.3rem;
    color: #6c757d;
    font-weight: 200;
    font-family: "montserrat", "sans-serif";
  }
  .quote-mission{
    color: #ff9800;
  }
  .learning-png{
    width: 20%;
    align-items: end;
  }
  .neat-clear {
    color:#ff5252;
  }
  .top-vission-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap:5rem;
  }
  .vission-pic{
    width: 50%;
    padding-bottom: 3rem;
  }
  .vission-about-text{
    font-size: 1.3rem;
    color: #6c757d;
    font-weight: 200;
    font-family: "montserrat", "sans-serif";
  }
  .last-about-text{
    font-size: 1.3rem;
   font-weight: 200;
   color: #6c757d;
   font-family: "montserrat", "sans-serif";
   width:60%
  }
  .quote-vission{
 color:#ff5252;
  }
  .last-about-info{
    width: 100%;
    display: flex;
    align-items: center;
    gap:10rem; 
  }
  .vission-last-pic{
    width:50%; 
    object-fit: cover;
  }
  .continue-last-pic{
    width: 45%;
  }
  .continue-about-section{
    width: 100%;
    display: flex;
    align-items: center;
    gap:10rem;
  }
  .continue-about-text{
    font-size: 1.3rem;
    font-weight: 200;
    color: #6c757d;
    font-family: "montserrat", "sans-serif";
  }
  /* media querires for about page */
  @media screen and (max-width:1160px){
    /* all paragraph text */
p.mission-about-text,
.mission-about-textmission-about-text,
.vission-about-text,
.last-about-text,
.continue-about-text{
  font-size: 1.1rem;
}
    .about-section{
      min-height: 50vh;
    }
    .about-section-inner{
    min-height: 50vh;
    }
    .about-us-button{
      top:43%;
    }
    .learning-png{
      width: 30%;
    }
    .about-first-page{
      padding:4rem;
      width:90%;
      margin:auto;
    }
    .mission-about-box{
      width: 70%;
    }
    .mission-about-title{
      font-size: 3rem;
    }
    .top-vission-info{
      gap:3rem;
    }
    .vission-pic{
      padding-bottom: 2rem;
    }
   .vission-about-text{
    width: 100%;
   }
   .last-about-info,
   .continue-about-section{
    gap:2rem; 
    padding-top:2rem;
  }
  .continue-last-pic{
    width: 50%;
  }
}
@media screen and (max-width:1000px){
  p.mission-about-text,
  .mission-about-textmission-about-text,
  .vission-about-text,
  .last-about-text,
  .continue-about-text{
    font-size: 1rem;
  }
  .about-first-page{
    padding:3rem 0 3rem 0;
    margin:auto;
    width: 90%;
  }
  .vission-pic{
    padding-bottom: 0;
  }
}
@media screen and (max-width:850px){
  .about-title{
    font-size: 3rem;
  }
  .mission-about-title{
    font-size: 2rem;
  }
  .about-us-text{
    font-size: 1.2rem;
  }
  .about-section{
    min-height: 40vh;
  }
  .about-section-inner{
  min-height: 40vh;
  }
  .last-about-info,
  .continue-about-section{
   gap:1rem; 
 }
  .about-us-button{
    font-size: 1.5rem;
    top: 36%;
  }
  .about-first-page{
    padding:3rem 0 3rem 0;
    margin:auto;
    width: 90%;
  }
  .vission-pic{
    padding-bottom: 0;
  }
}
@media screen and (max-width:760px){
  p.mission-about-text,
  .mission-about-textmission-about-text,
  .vission-about-text,
  .last-about-text,
  .continue-about-text{
    font-size:0.8rem;
  }
  .top-info{
  gap:9rem;
}
.top-vission-info {
  gap:2rem;
}
.continue-about-section{
  padding-top: 1.5rem ;
}
}
@media screen and (max-width:670px){
  p.mission-about-text,
  .mission-about-textmission-about-text,
  .vission-about-text,
  .last-about-text,
  .continue-about-text{
    font-size:1rem;
    text-align: left;
  }
.top-info{
  flex-direction: column;
  gap: 0rem;
  text-align:left;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.about-first-page{
  width: 70%;
}
.mission-about-box{
  width: 100%;
}
.learning-png{
  width: 50%;
}
.top-vission-info{
  flex-direction:column-reverse;
  gap: 1rem;
  text-align:left;
}
.vission-pic{
  width:100%
}
.last-about-info{
  flex-direction: column;
  gap: 1rem;
  padding-top:1rem;
}
.last-about-text{
  width: 100%;
}
.vission-last-pic{
  width: 100%;
}
.continue-about-section{
  flex-direction:column-reverse;
  gap: 1rem;
  text-align: center;
}
.continue-last-pic{
  width: 100%;
}
}
@media screen and (max-width:650px){
  .about-section{
    background-image: url(/images/bless-mobile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
   
}
  .about-section-inner{
  min-height: 70vh;
  background-color: #0732538f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  }
.about-us-button{
  font-size: 2rem;
  color: white ;
  position: absolute;
  top:65%;
  animation-name: bounce;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
}
@media screen and (max-width:540px){
.about-section{
 min-height: 50vh;
}
.about-section-inner{
 min-height: 50vh;
}
.about-first-page{
  width: 80%;
}
.about-us-button{
  top:45%;
}
}
@media screen and (max-width:420px){
 .about-title{
  font-size:2rem;
 }
 .about-us-text{
  font-size: 1rem;
  width: 70%;
 }
  .about-first-page{
    width: 90%;
  }
  .learning-png{
    width: 90%;
  }
}
@media screen and (max-width:370px){
  .about-section{
    min-height: 40vh;
   }
   .about-section-inner{
    min-height: 40vh;
   }
 
  .about-us-text{
    font-size: 0.9rem;
  }
  .about-us-button{
    top:42%;
  }
  .learning-png{
    width: 90%;
  }
}
@media screen and (max-width:320px){
.about-section{
 background-image: url(/images/bless-mobile-less.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed !important;
 min-height: 70vh; 
}
.about-section-inner{
  min-height: 70vh;
 }
  .about-title{
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}
.about-us-text{
  width: 70%;
  font-size: 0.9rem;
  letter-spacing: normal;
}
.about-us-button{
  top:60%;
}
.learning-png{
  width: 80%;
}
}
/* styles for frequently asked page */
.frequently-asked-section{
  background-image: url(/images/ACE_3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 70vh;
}
.frequently-asked-inner{
  min-height: 70vh;
  background-color: #22212183;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.asked-topic{
  font-size: 4.5rem;
  font-weight:700 ;
  color: white ;
  letter-spacing: 5px;
  width:40%;
  margin-left: 10rem;
}
.lovly{
color: #ff9800;
}
.asked-topic-button{
  width:13%;
  padding: 1rem 1rem;
  margin-left: 10rem;
  background-color: transparent;
  border: 2px solid white;
  animation-fill-mode: forwards;
}
.asked-topic-button:hover{
background-color:#ff5252;
opacity: 0.8;
transition: 0.3s ease-in;
border: none;
}
.topic-link-key{
 text-decoration: none;
 font-size: 1.5rem;
 font-weight: 700;
 color: white;
 letter-spacing: 5px;
}
.topic-link-key:hover{
  color: white;
}

.intro-frequent{
  max-width: 40%;
  margin: auto;
  padding:2.5rem 0; 
}
.intro-frequent-text{
 font-size:1.125rem;
  word-wrap: break-word;
  font-weight: 300;
  word-break: break-all;
}
.pop{
  font-weight: 800;
  color: #767676;
}
/* styles for accordin */
.feed-backs{
  display: flex;
  width: 80%;
  margin: auto;
}

.feed-inner-section{
margin: 100px auto;
width: 610px;
padding-left: 0;
}
.feed-inner-title{
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 700;
  color: #444444;
}
label{
  padding: 10px;
}
.feed-inner-section .first-general-feed-back{
list-style: none;
width: 100%;
margin-bottom: 20px;
border-radius: 4px;
background-color:#155674;
font-weight: 300;
}
.feed-inner-section .first-general-feed-back label{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 15px;
 font-size: 1rem;
 font-weight: 700;
 cursor: pointer;
 color: white;

}
.feed-inner-section .first-general-feed-back label span{
  transform: rotate(90deg);
  font-size: 1rem;
  font-weight: 500; 
 
}
.feed-inner-section label + input[type="radio"]{
  display: none;
 
}
.feed-inner-section .content{
  padding: 0 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s;
  color: white;
}
.feed-inner-section label + input[type="radio"]:checked + .content{
  max-height: 400px;
  background-color: white;
  color: #0f0f10;
  border-radius: 0 0 4px 4px;
  border: 1px solid #155674;
  padding: 10px;

}











.feed-parent-section{
  margin: 100px auto;
  width: 610px;
  padding-left: 0;
  }
  .feed-inner-title{
    font-size: 1.5rem;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: #444444;
  }
  label{
    padding: 10px;
  }
  .feed-parent-section .first-parent-feed-back{
  list-style: none;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color:#ff9800;
  font-weight: 300;
  }
  .feed-parent-section .first-parent-feed-back label{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 15px;
   font-size: 1rem;
   font-weight: 700;
   cursor: pointer;
   color: #444444;
  
  }
  .feed-parent-section .first-parent-feed-back label .span{
    transform: rotate(90deg);
    font-size: 1rem;
    font-weight: 500; 
   
  }
  .feed-parent-section label + input[type="checkbox"]{
    display: none;
  }
  .feed-parent-section .answer{
    padding: 0 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s;
  }
  .feed-parent-section label + input[type="checkbox"]:checked + .answer{
    max-height: 400px;
    background-color: white;
    color: #0f0f10;
    border-radius: 0 0 4px 4px;
    border: 1px solid #ff9800;
    padding: 10px;
  }
