@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.our-system {
  margin-left: 25%;
  gap: 1.5rem;
}
.navbar-brand {
  max-width: 10%;
}
.logo-png {
  max-width: 100%;
}
.contact-item {
  list-style: none;
}
.contact-link {
  text-decoration: none;
  padding: 0.5rem 0.2rem;
  font-size: 0.7rem;
  color: black;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-family: montserrat, sans-serif;
}
.contact-link:hover {
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  border-bottom: 2px solid #ff9800 !important ;
}

.nav-link {
  color: black;
  font-size: 0.7rem;
  font-family: montserrat, sans-serif;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

.nav-link.active {
  border-bottom: solid 3px #ff9800 !important ;
  color: rgb(0, 0, 0) !important;
  /* background-color: #ff9800; */
}
.nav-link:hover {
  color: rgb(0, 0, 0);
  font-size: 0.7rem;
  border-bottom: 2px solid #ff9800 !important ;
}
.dropdown-item {
  color: black;
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
}

.drop-icon {
  font-size: 1.6rem;
  color: #464646be;
}

.carousel {
  background-color: #ff99006b;
  min-height: 100vh;
}

.img-slide {
  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}

.img-slide .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  clip-path: circle(0% at 0 50%);
  max-height: 100vh;
}
.img-slide .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
  transition-property: clip-path;
}
.img-slide .slide img {
  z-index: 1;
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
.img-slide .slide .info {
  z-index: 1;
  position: absolute;
  color: aliceblue;
  margin-left: 100px;
  top: 40%;
  width: 60%;
  animation: drop 1.5s ease;
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateX(90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.img-slide .slide .info-content {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.219);
  width: 100%;
  min-height: 100vh;
}

.img-slide .slide .info .info-b {
  padding: 0.5rem 2rem;
  background-color: #ff5252;
  color: aliceblue;
  border: none;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  transition: all 0.55s ease;
}
.img-slide .slide .info .info-b:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.img-slide .slide .info .info-b-1 {
  padding: 0.5rem 2rem;
  background-color: #ff5252;
  color: aliceblue;
  border: none;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  transition: all 0.55s ease;
}
.img-slide .slide .info .info-b-1:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}
.img-slide .slide .info .info-b-0 {
  padding: 0.5rem 2rem;
  background-color: #ff5252;
  color: white;
  border: none;
  font-family: "montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  transition: all 0.55s ease;
}
.img-slide .slide .info .info-b-0:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateX(8px);
}

.img-slide .slide .info h2 {
  font-family: "montserrat", "sans-serif";
  font-size: 4.5rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 5px;
  width: 80%;
}
.img-slide .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}
.img-slide .navigation .key {
  width: 15px;
  margin: 10px;
  height: 15px;
  background: rgba(255, 255, 255, 0.685);
  border-radius: 50%;
  cursor: pointer;
}
.img-slide .navigation .key.active {
  background: rgba(0, 0, 0, 0.253);
  box-shadow: rgba(0, 0, 0, 0.219);
}

.about {
  width: 80%;
  margin: auto;
}
.about-intro {
  padding-top: 5rem;
  text-align: center;
}
.about-text {
  font-family: "monsterrat" "sans-serif";
  font-size: 4.5rem;
  color: #444444;
  font-weight: 700;
}
.best-text {
  font-family: "monsterrat" "sans-serif";
  font-size: 2rem;
  color: #444444;
  font-weight: 300;
  margin: 5px 0;
}
.best-item {
  font-family: "monsterrat" "sans-serif";
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #131313;
}
.about-contents {
  display: flex;
  justify-content: center;
}
.about-box-items {
  display: flex;
  width: 70%;
  margin: 0 auto;
}
.about-items-wrapper {
  margin: 1.5rem 0;
  width: 100vw;
}
.items-wrapper {
  display: flex;
  width: 50%;
}
.icon-circled {
  float: left;
  background-color: #ff5252;
  color: #fff;
  width: 50px;
  margin: auto;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  margin-bottom: 3.5rem;
  background-color: #ff9800;
  text-align: center;
}
.toy {
  line-height: 50px;
  font-size: 1.2rem;
  display: inline-block;
}

.text-title {
  font-family: "monsterrat" "sans-serif";
  font-size: 1.5rem;
  color: #444444;
  font-weight: 400;
}
.main-text {
  color: #000000;
  font-family: "montserrat";
  font-weight: 200;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #696969;
}
.about-items-wrapper {
  max-width: 100%;
}
.about-image-wrapper {
  max-width: 20%;
}
.about-pic {
  max-width: 100%;
}

section.our-card {
  max-width: 100vw;
  margin: auto;
  justify-content: center;
}
.product-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  min-height: 60dvh;
}

.product-wrap {
  position: relative;
  width: 40vw;
  border-radius: 10px;
  min-height: 48dvh;
}

.product-img-1 {
  background-image: url(/images/lab.jpg);
  max-width: 30vw;
  min-height: 35dvh;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  background-repeat: no-repeat;
  background-position: 100%;
}
.product-img-2 {
  background-image: url(/images/classroom.jpg);
  max-width: 30vw;
  min-height: 35dvh;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  background-repeat: no-repeat;
  background-position: 100%;
}
.product-img {
  background-image: url(/images/ACE_0537.JPG);
  max-width: 30vw;
  min-height: 35dvh;
  background-size: cover;
  border-radius: 8px 8px 0 0;
  background-repeat: no-repeat;
  background-position: 100%;
}
.product-details-1,
.product-details-2,
.product-details-3 {
  position: absolute;
  max-width: 30vw;
  border-radius: 0 25% 8px 8px;
  color: #fff;
  top: 61%;
}

.product-details-1 {
  background-color: #ff5252;
  padding: 2rem 1rem;
}

.product-details-2 {
  background-color: #ff9800;
  padding: 2rem 1rem;
}
.product-details-3 {
  background: #155674;
  padding: 2rem 1rem;
}

.product-title {
  font-family: " monstserrat" "sans-serif";
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 500;
}
.product-text {
  font-family: "montserrat", "sans-serif";
  font-weight: 100px;
  font-size: 0.9rem;
}
.product-btn-1,
.product-btn-2,
.product-btn-3 {
  border: none;
  font-family: "montserrat", "sans-serif";
  font-size: 0.9rem;
  padding-bottom: 0.2rem;
  color: #fff;
  font-weight: bolder;
  transition: 2s;
}
.product-btn-1:hover {
  border-bottom: solid #ffffff 1px;
  transition: all 0.1s ease-in;
}
.product-btn-2:hover {
  border-bottom: solid #ffffff 1px;
  transition: all 0.1s ease-in;
}

.product-btn-3:hover {
  border-bottom: solid #ffffff 1px;
  transition: all 0.1s ease-in;
}
.product-btn-1 {
  background-color: #ff5252;
}
.product-btn-2 {
  background-color: #ff9800;
}
.product-btn-3 {
  background: #155674;
}
.our-mission {
  max-width: 100%;
  background-image: url(/images/patterns\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1rem;
}

.mission-inner {
  display: flex;
  max-width: 80vw;
  margin: auto;
  padding-bottom: 2%;
}
.mission-1 {
  max-width: 25vw;
  padding: 1rem;
}
.title-box {
  font-family: "montserrat", "sans-serif";
  text-align: center;
}
.mission-title {
  font-size: 4.5rem;
  font-family: "monsterrat" "sans-serif";
  color: #444444;
  padding-top: 2rem;
}
.neat {
  color: #ff9800;
}

.mission-text {
  font-family: "monsterrat" "sans-serif";
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
}
.mission-complete {
  font-size: 1.4rem;
  font-family: "montserrat", sans-serif;
  color: #444444;
  text-decoration: underline 2px solid;
}

.mission-2 {
  max-width: 25vw;
  padding-top: 100px;
}
.bi-1 {
  width: 80%;
  padding: 0;
  font-size: 2.8rem;
  color: #ff5252;
}
.mission-join {
  padding: 1rem;
  font-family: "monsterrat" "sans-serif";
  font-weight: 200;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #000000;
}
.mission-image {
  padding-top: 10px;
  max-width: 50vw;
}
.mission-pic {
  object-fit: cover;
  padding: 20px;
  border-radius: 50px;
}
.counter {
  padding: 1rem 0;
  background-color: rgb(255, 255, 255);
}
.inner-counter {
  margin: auto;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}
.established-count,
.students-count,
.trophies-count,
.other-count {
  width: 100vw;
  text-align: center;
  color: #fff;
  box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.623);
  border-radius: 10px;
  padding: 0.5rem;
}

.year,
.population,
.amount,
.others {
  font-size: 4rem;
  font-family: "monsterrat" "sans-serif";
  margin: 0 !important ;
  color: rgba(43, 43, 43, 0.829);
}
hr {
  width: 20%;
  border: solid #000000 2px;
  margin: auto;
}
.established-text,
.student-text,
.trophy-text,
.other-text {
  font-size: 1.3rem;
  font-weight: 300;
  color: #5e5e5eda;
  font-family: "montserrat" "sans-serif";
}

.gallary {
  background-image: url(/images/patterns\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.inside-gallary {
  max-width: 92vw;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 4rem 0;
}
.gala-title {
  font-family: "monsterrat" "sans-serif";
  font-size: 4.5rem;
  color: #444444;
  font-weight: 700;
}
.parent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5rem;
  max-width: 60vw;
}
.child {
  -ms-flex: 10%;
  flex: 5%;
  padding: 0 0.2rem;
}
.child .gallary-pics {
  margin-top: 0.4rem;
  vertical-align: middle;
}
.gallary-info {
  padding: 1rem;
}

.gallary-text {
  font-family: "montserrat";
  font-size: 1rem;
  letter-spacing: 1px;
  color: #000000;
}

.testimonials {
  padding-top: 20px;
  background-color: #ffffff;
}
.testimonial-text {
  font-family: "monsterrat" "sans-serif";
  font-size: 4.5rem;
  color: #ff9800;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}
.testimonial-box {
  max-width: 50vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-height: 45vh;
}
.inner-box .testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-box .inner-box {
  background-color: rgb(235, 235, 235);
  width: 70%;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
  margin-top: 10px;
  height: 40vh;
}
.wrapper .inner-box:last-child {
  animation-delay: calc(-3s * var(--delay));
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(100%) scale(0.5);
  }
  5%,
  20% {
    opacity: 0.4;
    transform: translateX(100%) scale(0.5);
  }
  25%,
  40% {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0%) scale(1);
  }
  45%,
  60% {
    opacity: 0.4;
    transform: translateX(-100%) scale(0.7);
  }
  65%,
  100% {
    opacity: 0;
    transform: translateX(-100%) scale(0.5);
  }
}
.testimonial-box .inner-box .testimonial-image {
  height: 13vh;
  width: 20%;
  left: -5px;
  background: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.inner-box .testimonial-details {
  margin-left: 150px;
  text-align: center;
  margin: auto;
  width: 70%;
}
.inner-box .testimonial-pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial-details .owner {
  font-family: "monsterrat" "sans-serif";
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(81, 81, 81) !important;
}

.testimonial-details .owner-text {
  width: 100%;
  font-family: "montserrat";
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #696969;
}

.footer-wrapper {
  background-image: url(/images/patterns\ .jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
}
.footer-overlay {
  /* background-color: #ff9800; */
  background: #155674;
}
.inside-footer {
  display: flex;
  justify-content: center;
}
.footer-in-check {
  max-width: 70vw;
  margin: auto;
  color: white;
}
.inside-footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
.footer-part-1 {
  width: 30%;
  padding: 0 10px;
  margin-top: 5px;
}
.footer-title {
  font-family: "montserrat";
  font-size: 1rem;
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5em;
  margin-bottom: 20px;
  position: relative;
}
.footer-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: rgb(255, 255, 255);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-items {
  list-style: none;
  padding-left: 0;
  margin-bottom: 15px;
}
.footer-text {
  font-weight: 200;
  font-family: "montserrat";
}
.footer-links {
  text-decoration: none;
  display: inline-block;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 1.3rem;
  transition: all 0.5s ease;
}
.footer-links:hover {
  color: #24262b;
  background-color: #ffffff;
}
.footer-main {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-family: "montserrat", sans-serif;
}
.footer-main:hover {
  color: #24262b;
}
.footer-image {
  max-width: 70%;
}
.sch-motto {
  letter-spacing: 2px;
  font-weight: 100;
}

/* media quaries */
@media screen and (max-width: 87.5rem) {
  .img-slide {
    width: 100%;
    max-height:100vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height:100vh;
  }
  .img-slide .slide img {
    width: 100%;
    min-height:100vh;
  }
  .img-slide .slide .info-content {
   min-height:100vh;
  }

  .product-img-1,
  .product-img-2,
  .product-img {
    background-position: 100%;
  }
}

@media screen and (max-width: 75rem) {
  .testimonial-box .inner-box .testimonial-image {
    width: 25%;
  }
}
@media screen and (max-width: 71.875rem) {
  .img-slide {
    width: 100%;
    max-height:90vh;
  }

  .img-slide .slide {
    width: 100%;
    max-height:90vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    max-height:90vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    max-height:90vh;
  }
  .about {
    min-width: 90%;
  }
  .product-cover {
    margin: auto;
  }
  .product-details-1,
  .product-details-2,
  .product-details-3 {
    top: 55%;
  }
  .product-wrap {
    position: relative;
    width: 26vw;
  }
  .product-img-1,
  .product-img-2,
  .product-img {
    width: 26vw;
  }
  .mission-inner {
    max-width: 92vw;
  }
  .mission-1 {
    padding: 0.2rem;
    margin-left: 1.5rem;
  }
  .mission-text {
    font-size: 1rem;
  }
  .mission-2 {
    padding-top: 3rem;
  }
  .mission-join {
    font-size: 1rem;
  }
  .gallary {
    width: 100%;
  }
  .inside-gallary {
    min-width: 90vw;
    gap: 0;
    padding: 3rem 0;
  }
  .parent {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 67.188rem) {
  .carousel {
    background-color: #ff99006b;
    min-height: 90vh;
  }
  .img-slide {
    width: 100%;
    min-height:90vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height:90vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height:90vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    min-height:90vh;
  }
  .img-slide .slide .info h2 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 700;
    letter-spacing: 5px;
    width: 100%;
  }
  .img-slide .slide .info {
    top: 34%;
  }
  .about-text{
    font-size: 4rem;
  }
  .mission-title{
    font-size: 4rem;
  }
  .gala-title{
    font-size: 4rem;
  }
  .testimonial-text{
    font-size: 4rem;
  }
  .our-card {
    padding: 0;
  }
  .product-cover {
    gap: 1.5rem;
  }
  .product-wrap {
    min-width: 28vw;
  }
  .product-img-1,
  .product-img-2,
  .product-img {
    min-width: 28vw;
  }
  .product-details-1,
  .product-details-2,
  .product-details-3 {
    min-width: 28vw;
  }
}
@media screen and (max-width: 64.063rem) {
  .about {
    width: 95vw;
  }
  .navbar-brand {
    width: 30%;
  }
  .img-slide .slide .info {
    top: 39%;
    margin-left: 4rem;
    width: 90%;
  }

  .img-slide .slide .info h2 {
    font-size: 3.5rem;
    line-height: 3.6rem;
    font-weight: 900;
    width: 70%;
  }
  .img-slide .slide .info {
    width: 60%;
  }
  .about-text{
    font-size: 3.5rem;
  }
  .mission-title{
    font-size: 3.5rem;
  }
  .gala-title{
    font-size: 3.5rem;
  }
  .testimonial-text{
    font-size: 3.5rem;
  }
  .best-text {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .best-item {
    font-weight: 220;
  }
  .about-intro{
    padding-top: 2.8rem;
  }
  .text-title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .main-text {
    color: #000000;
    font-weight: 220;
  }
  .product-wrap {
    min-width: 30vw;
  }
  .product-img-1,
  .product-img-2,
  .product-img {
    min-width: 30vw;
  }
  .product-details-1,
  .product-details-2,
  .product-details-3 {
    min-width: 30vw;
  }
  .mission-title {
    font-size: 3.9rem;
  }
  .mission-inner {
    max-width: 95vw;
  }
  .mission-1 {
    margin-left: 0;
  }
  .inner-counter {
    min-width: 95vw;
  }
  .established-text,
  .student-text,
  .trophy-text,
  .other-text {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .inside-gallary {
    min-width: 95vw;
    gap: 2rem;
  }
  .parent {
    padding: 0;
  }
  .gala-title {
    font-size: 3.9rem;
  }
  .footer-in-check {
    width: 80%;
  }
  .footer-part-1 {
    width: 33%;
  }
}

@media screen and (max-width: 74.688rem) {
  .navbar-brand {
    width: 25%;
  }
  .our-system {
    margin-left: 15%;
  }
  .img-slide .slide .info h2 {
    width: 100%;
  }
  .img-slide .slide .info .info-b-1 {
    padding: 8px 15px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .img-slide .slide .info .info-b {
    padding: 8px 15px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 8px 15px;
    font-size: 1.8rem;
    margin-top: 10px;
  }
  .inner-counter {
    width: 90%;
  }
  .year,
  .population,
  .amount,
  .others {
    font-size: 3rem;
  }

  .testimonials {
    padding-top: 20px;
    width: 100%;
    background-color: #e5e5e5;
  }

  .testimonial-box .inner-box {
    background-color: rgb(255, 255, 255);
    width: 75%;
  }

  .testimonial-box .inner-box .testimonial-image {
    height: 100px;
    width: 25%;
    margin: 8px 0;
  }
  .inner-box .testimonial-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .inner-box .testimonial-details {
    margin-left: 150px;
    margin: auto;
    width: 80%;
  }
  .testimonial-details .owner {
    font-weight: 700;
    color: #1d4e89;
    font-size: 1.1rem;
  }
  .testimonial-details .owner-text {
    font-size: 0.9rem;
  }
  .footer-in-check {
    width: 80%;
  }
  .footer-part-1 {
    width: 33%;
  }
}

@media screen and (max-width: 62.5rem) {
  .our-system {
    margin-left: 17%;
  }
  .about {
    width: 95%;
    margin: auto;
  }
  .about-intro {
    width: 97%;
    margin: auto;
  }

  .about-contents {
    margin-top: 0;
    width: 97%;
    margin: auto;
  }

  .about-pic {
    width: 100%;
  }
  .about-image-wrapper {
    align-items: center;
    margin-top: 40px;
  }
  .img-slide .slide .info {
    width: 80%;
  }
  .img-slide .slide .info h2 {
    width: 80%;
  }
  .product-cover {
    gap: 1rem;
  }
  .inside-gallary {
    width: 90%;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 100px;
    width: 30%;
  }
}
@media screen and (max-width: 54.688rem) {
  .img-slide {
    width: 100%;
    min-height: 90vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 90vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 90vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    min-height: 90vh;
  }
  .colors {
    max-width: 100vw;
    padding: 0;
  }
  .about {
    margin: auto;
  }
  .about-intro {
    padding-top: 2.5rem;
  }
  .mission-title {
    font-size: 3.4rem;
  }
  .about-text {
    font-size: 3.4rem;
  }
  .gala-title {
    font-size: 3.4rem;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 85px;
  }
  .footer-part-1 {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 48.75rem) {
  .carousel {
    min-height: 80vh;
  }
  .img-slide {
    width: 100%;
    min-height: 80vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 80vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 80vh;
  }
  .img-slide .slide .info-content {
    width: 100%;
    min-height: 80vh;
  }
  .navbar {
    background-color: #ff5252;
    width: 100%;
  }
  .our-system {
    margin-left: 25%;
    gap: 15px;
  }
  .navbar-brand {
    max-width: 25%;
  }
  .logo-png {
    width: 100%;
  }

  .img-slide .navigation .key {
    width: 10px;
    height: 10px;
  }
  .img-slide .slide .info h2 {
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    line-height: 3rem;
  }
  .img-slide .slide .info {
    margin-left: 3rem;
    top: 42%;
    width: 75%;
  }
  .about {
    width: 90%;
  }
  .about-intro {
    width: 100%;
    padding-top: 3rem;
  }
  .about-text {
    font-size: 2.8rem;
    text-align: left;
  }
  .best-text,
  .best-item {
    text-align: left;
    font-family: montserrat;
  }
  .best-text {
    letter-spacing: 1px;
  }
  .best-item {
   font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  .main-text {
    font-size: 0.9rem;
    letter-spacing: 0;
  }
  .about-contents {
    width: 100%;
    flex-direction: column;
  }
  .about-box-items {
    width: 100%;
  }
  .about-image-wrapper {
    max-width: 50%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .about-pic {
    width: 100%;
  }
  .our-card {
    max-width: 100vw;
   
  }
  .product-cover {
    flex-direction: column;
    gap: 3.5rem;
    padding: 3rem 0rem;
  }
  .product-wrap {
    min-width: 70vw;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .product-img-1,
  .product-img-2,
  .product-img {
    min-width: 70vw;
    background-position: top top;
   
  }
  .product-details-1,
  .product-details-2,
  .product-details-3 {
    min-width: 70vw;
    border-radius: 0 0 8px 8px;
    padding: 1rem;
    top: 70%;
  }
  .title-box {
    max-width: 90vw;
    margin: auto;
    padding-top: 1.8rem;
  }
  .mission-title {
    font-size: 2.8rem;
    text-align: left;
  }
  .mission-inner {
    flex-direction: column;
    padding: 18px;
    max-width: 90vw;
    padding: 0;
  }
  .mission-1,
  .mission-2 {
    max-width: 100%;
    margin: auto;
  }
  .mission-2 {
    padding: 0;
  }
  .mission-join {
    padding: 0;
  }
  .mission-image {
    max-width: 100%;
    margin: auto;
    border-radius: 20px;
  }
  .mission-pic {
    width: 100%;
    border-radius: 20px;
    padding: 0;
  }
  .counter {
    width: 100%;
    padding:2rem 0;
  }
  .inner-counter {
    width: 100%;
  }
  .established-count,
  .students-count,
  .trophies-count,
  .other-count {
    width: 40%;
  }
  .year,
  .population,
  .amount,
  .others {
    font-size: 2.3rem;
  }
  .established-text,
  .student-text,
  .trophy-text,
  .other-text {
    font-size: 0.9rem;
  }

  .gallary-info {
    width: 100%;
  }
  .inside-gallary {
    padding: 0;
    flex-direction: column-reverse;
  }
  .parent {
    max-width: 100vw;
    padding: 0 0.625rem;
    margin-bottom: 2rem;
  }
  .gala-title {
    font-size: 2.8rem;
  }
  .gallary-text {
    font-size: 0.9rem;
  }
  .testimonial-box .inner-box .testimonial-image {
    width: 35%;
  }
  .footer-part-1 {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-text {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 38.75rem) {
  .carousel {
    min-height: 75vh;
  }
  .img-slide {
    width: 100%;
    min-height: 75vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 75vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 75vh;
  }
  .img-slide .slide .info-content {
    min-height: 75vh;
  }

  .img-slide .slide .info {
    margin-left: 30px;
    top: 35%;
    width: 80%;
  }
  .img-slide .slide .info .info-b {
    padding: 5px 18px;
    font-size: 1.3rem;
  }

  .img-slide .slide .info .info-b-1 {
    padding: 5px 18px;
    font-size: 1.3rem;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 5px 18px;
    font-size: 1.3rem;
  }

  .img-slide .slide .info h2 {
    font-size: 2.8rem;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    width: 100%;
  }

  .colors {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .about {
    width: 95%;
    margin-bottom: 0 !important;
  }
  .about-text {
    font-size: 2rem;
  }
  .best-text {
    font-size: 1.3rem;
  }
  .about-items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .items-wrapper {
    width: 90%;
  }.product-wrap{
    margin-bottom: 2rem;
  }
  .contents {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .icon-circled {
    margin: auto;
  }
  .text-title {
    font-size: 1.3rem;
    margin-top: 10px;
  }
  .about-image-wrapper {
    width: 50%;
  }
  .testimonial-box .inner-box .testimonial-image {
    width: 40%;
  }
  .testimonial-box .inner-box {
    width: 90%;
    height: 40vh;
    background-color: #ffffff;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 80px;
    width: 30%;
  }
  .testimonials {
    padding-top: 20px;
    width: 100%;
    padding-bottom: 25px;
  }
  .testimonial-text {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: #ff9800;
  }
  .testimonial-details .owner-text {
    font-size: 0.9rem;
    color: #696969;
    width: 100%;
  }
  .testimonial-box {
    width: 50%;
  
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    5%,
    20% {
      opacity: 0.4;
      transform: translateX(100%) scale(0);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%) scale(1.2);
    }
    45%,
    60% {
      opacity: 0.4;
      transform: translateX(-100%) scale(0);
    }
    65%,
    100% {
      opacity: 0;
    }
  }
  .footer-part-1 {
  margin-bottom: 30px;
  }
}
@media screen and (max-width: 36rem) {
  .img-slide .slide .info h2 {
    font-size: 2.2rem;
    line-height: 35px;
    font-weight: 700;
    letter-spacing: 4px;
    width: 85%;
  }
  .img-slide .slide .info .info-b {
    padding: 4px 14px;
    font-size: 1.2rem;
  }

  .img-slide .slide .info .info-b-1 {
    padding: 4px 14px;
    font-size: 1.2rem;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 4px 14px;
    font-size: 1.2rem;
  }
  .about {
    max-width: 90%;
  }
  .about-intro {
    padding-top: 3.5rem;
  }
  .about-text {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .product-cover {
    flex-direction: column;
    gap: 4rem;
  }
  .product-wrap{
    margin-bottom: 1rem;
  }
  .product-details-1,
  .product-details-2,
  .product-details-3 {
    max-width: 60%;
    top: 60%;
  }
  .title-box{
    padding-top: 0;
  }
  .mission-title{
    font-size: 2.2rem;
    font-weight: 700;
  }
  .inner-counter{
    padding-top: 1.4rem;
    min-width: 90%;
    flex-direction: column;
  }
  .established-count,
  .students-count,
  .trophies-count,
  .other-count {
    width: 100%;
  }
  .established-text,
  .student-text,
  .trophy-text,
  .other-text {
    font-size: 1rem;
  }
  .year,
  .population,
  .amount,
  .others {
    font-size: 2.2rem;
    font-weight: 700;
  }
  .gala-title{
    font-size: 2.2rem;
    font-weight: 700;
  }
  .testimonial-box .inner-box {
    width: 100%;
  }
  .testimonial-box .inner-box .testimonial-image {
    height: 90px;
    width: 35%;
  }
  .testimonials {
    padding-top: 20px;
    width: 100%;
  }
  .testimonial-text {
    font-size: 2.2rem;
  }
  .testimonial-box {
    width: 60%;
   
  }
  .testimonial-details .owner {
    font-size: 0.9rem;
  }
  .testimonial-details .owner-text {
    font-size: 0.75rem;
    color: #696969;
    width: 100%;
  }
  @keyframes animate {
    0% {
      opacity: 0;
    }
    5%,
    20% {
      opacity: 0.1;
      transform: translateX(40%) scale(0);
    }
    25%,
    40% {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0%) scale(1.2);
    }
    45%,
    60% {
      opacity: 0.1;
      transform: translateX(-40%) scale(0);
    }
    65%,
    100% {
      opacity: 0;
    }
  }
  .footer-part-1 {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-title::before {
    left: 35%;
    width: 100px;
  }
}
@media screen and (max-width: 34.313rem) {
  .carousel {
    min-height: 70vh;
  }
  .img-slide {
    width: 100%;
   min-height: 70vh;
  }

  .img-slide .slide {
    width: 100%;
    min-height: 70vh;
  }

  .img-slide .slide img {
    max-width: 100%;
    min-height: 70vh;
  }
  .img-slide .slide .info-content {
    min-height: 70vh;
  }
  .img-slide .slide .info h2 {
    font-size: 1.7rem;
    line-height: 30px;
    font-weight: 800;
    letter-spacing: 4px;
    width: 80%;
  }
  .img-slide .slide .info {
    top: 38%;
  }
  .img-slide .slide .info .info-b {
    padding: 3px 12px;
    font-size: 1rem;
  }
  .img-slide .slide .info .info-b-1 {
    padding: 3px 12px;
    font-size: 1rem;
    margin-top: 0;
  }
  .img-slide .slide .info .info-b-0 {
    padding: 3px 12px;
    font-size: 1rem;
  }
  .product-cover{
    gap: 2rem;
    padding: 1rem 0;
  }
  .about-intro{
  padding-top: 3.5rem;
  }
  .about-text{
    font-size: 1.7rem;
  }
  .best-text{
    font-size: 1.1rem; 
    font-weight: 700;
  }
   .inner-counter{
  padding-top: 0;
}
}
@media screen and (max-width: 27.375rem){
  .carousel {
        min-height: 60vh;
  }
  .img-slide {
   min-height: 60vh;
  }
  .img-slide .slide {
    min-height: 60vh;
  }
  .img-slide .slide img {
    min-height: 60vh;
  }
  .img-slide .slide .info-content {
    min-height: 60vh;
}
.img-slide .slide .info h2 {
  font-size: 2.3rem;
  line-height:40px;
  font-weight: 800;
  letter-spacing: 4px;
  width: 100%;
}
.img-slide .slide .info {
  top: 38%;
  margin-left: 15px;
  width: 90%;
}
.about{
  min-width: 94vw;
}
.about-intro{
  padding-top: 3rem;
}

.items-wrapper{
  min-width: 100%;
}
.contents{
  min-width: 100%;
}
.about-image-wrapper {
  min-width: 70%;
}
.about-pic {
  min-width: 100%;
}
.about-text{
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 1.8rem;
}
.best-text{
  font-weight: 400;
  letter-spacing: 0px;
}
.product-cover{
  gap: 0.5rem;
  padding: 1rem 0;
}
.gala-title,.mission-title,.testimonial-text{
  font-size: 2rem;
}
.testimonial-box .inner-box .testimonial-image {
  height: 90px;
  width: 45%;
}
}
@media screen and (max-width: 23.75rem){
  .carousel {
    min-height: 55vh;
  }
  .img-slide {
   min-height: 55vh;
  }
  .img-slide .slide {
    min-height: 55vh;
  }
  .img-slide .slide img {
    min-height: 55vh;
  }
  .img-slide .slide .info-content {
    min-height: 55vh;
}
.img-slide .slide .info h2 {
  font-size: 2rem;
  line-height:30px;
  font-weight: 800; 
  letter-spacing: 3px;
  width: 100%;
}
.img-slide .slide .info {
  top:40%;
  margin-left: 10px;
  width: 90%;
}
.about{
  min-width: 96%;
}
.about-intro{
  padding-top: 1rem;
}
.about-text{
  font-weight: 200;
  font-size: 1.5rem ;
}
.neat{
  font-weight: 500;
  font-size: 2rem ;
}
.best-text{
  font-size: 1rem;
  font-weight: 600;
}
.product-cover {
  flex-direction: column;
}
.product-wrap{
  width:90%;
  margin-bottom: 1rem;
}
.product-img-1,
.product-img-2,
.product-img {
  min-width: 100%;
  background-position: top top;
 
}
.product-details-1,
.product-details-2,
.product-details-3 {
  max-width: 100vw;
  top: 60%;
}
.testimonial-box .inner-box {
  padding-top:50px;
  margin-bottom: 20px;
  min-width: 70vw;
}
.testimonial-box .inner-box .testimonial-image {
  height: 90px;
  width: 35%;
}
.testimonials {
  padding-top: 20px;
  width: 100%;
}
.testimonial-text {
  font-size: 2rem;
}
.testimonial-box {
  min-width: 70vw;
  padding-bottom: 20px;
 
}
.testimonial-details .owner {
  font-size: 1rem;
 
}
.testimonial-details .owner-text {
  font-size: 0.75rem;
  padding-top:10px ;
}
}
